/*.box {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	display: flex;
	flex-direction: row;
}
.box1, .box3, .box5 {
	background-color: grey;
}
.box2, .box4, .box6 {
	background-color: black;
}*/
/*.box {
	width: 500px;
	height: 500px;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}
.box1, .box3, .box5 {
	background-color: grey;
}
.box2, .box4, .box6 {
	background-color: black;
}*/
/*.box {
	display: flex;
	flex-wrap: wrap;
}*/
/*.menu {
	display: flex;
	justify-content: space-between;
	border: 2px solid red;
	}
.menu a {
	height: 100px;
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}*/
.menu {
	width: 200px;
	border: 2px solid red;
	display: flex;
	flex-direction: column;
	}
.menu a{
	display:flex;
	justify-content: space-around;
	text-decoration: none;
}
